.footer {
    text-align: justify;
    padding: 3px;
    background-image: url('https://image.dienthoaivui.com.vn/x,webp,q90/https://dashboard.dienthoaivui.com.vn/uploads/dashboard/editor_upload/hinh-nen-3d-4.jpg');
    background-size: cover; /* Adjust to fit your needs */
    background-position: center; /* Center the background image */
    color:white; /* Use a valid color */
    margin-left: 80%; /* Adjust margin or use another layout technique */
    font-size: 18px;
    font-weight: 700;
}

